@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color-menu: rgb(214, 209, 209);
    --color-bg: rgb(22, 22, 22);
    --color-titles: #acacac;
    --color-images: rgb(40, 40, 40);
    --color-p: #cfcfcf;
    --font1: "Atkinson Hyperlegible Next", serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
}

#header {
    display: flex;
    /* background-color: rgb(50, 50, 50); */
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.name-site a {
    color: var(--color-p);
    font-family: var(--font1);
    padding: 8px;
    text-decoration: none;
}

#menu-list {
    display: flex;
    gap: 20px;
}

#menu-list li {
    list-style-type: none;
}

#menu-list li a {
    font-family: var(--font1);
    color: var(--color-menu);
    font-size: 20px;
    padding: 12px 12px;
    text-decoration: none;
}

#menu-list li a:hover {
    background-color: rgb(116, 111, 111);
}

h1,
h2,
h3 {
    color: var(--color-titles);
    font-family: var(--font1);
    text-align: center;
}

p {
    color: var(--color-p);
    font-family: var(--font1);
    text-align: left;
    font-size: 18px;
    line-height: 140%;
}

#about {
    padding: 1% 0 2% 0;
}

#about p {
    margin: 1% 10% 2% 10%;
}

article {
    margin-bottom: 20px;
}

article p {
    display: inline-block;
    margin: 0 10% 2% 10%;
}

article a {
    display: inline;
}

.more {
    font-family: var(--font1);
    font-size: 18px;
    font: bold;
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.more:hover {
    color: var(--color-titles);
}

#contact {
    background-color: var(--color-images);
    padding: 10px 0 10px 0;
}

#contact div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about h3,
#contact h3 {
    font-size: 20px;
}

hr {
    margin-left: 8%;
    margin-right: 8%;
}

.subtitle {
    font-size: 30px;
    text-align: center;
}

.movie-info {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: auto;
}

.movie-info a{
    margin-left: 0;
}

.synopsis {
    margin: 1% 30% 2% 2%;
}

.movie-title {
    font-size: 40px;
}

.movie-image {
    display: flex;
    width: 250px;
    height: 375px;
    border-radius: 3%;
    border: 2px solid var(--color-images);
}

#main {
    display: grid;
    row-gap: 10px;
}

/* Review page style */
.name-site{
    text-align: center;
}

fieldset{
    border: 0;
}

.reviewer{
    text-align: center;
    margin-bottom: 30px;
}

.reviewer input{
    margin: 10px;
}

#pass{
    width: 54%;
}

label{
    color: var(--color-p);
}

input, label, textarea, button{
    border-radius: 5px;
}

.radio{
    text-align: center;
    margin-bottom: 30px;
}

.radio input{
    margin: 10px;
}

input[type="text"], input[type="email"], input[type="password"],
select, text{
    padding: 5px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px black;
}

.select{
    text-align: center;
    margin-bottom: 20px;
}

.select select{
    margin: 20px;
}

.check{
    text-align: center;
    margin-bottom: 30px;
}

.check input{
    margin: 10px;
}

.area{
    text-align: center;
    margin-bottom: 30px;
}

.area textarea{
    width: 60%;
}

.button{
    text-align: center;
    margin-bottom: 30px;
}

.button button{
    width: 20%;
    height: 40px;
    font-size: 1.2em;
    color: white;
    background-color: gray;
    text-shadow: 1px 1px 1px black;
}

.button button:hover{
    color: var(--color-titles);
}

/* animation */
#main .movie-image:hover{
    animation: fadeImage 0.2s linear forwards;
}

@keyframes fadeImage{
    from{border: 2px ridge var(--color-images);}
    to{border: 4px ridge var(--color-p);}
}

/* DOM */
.hiddenImage{
    opacity: 0;
}

.visibleImage{
    animation: fadeInImage 1s linear;
}

@keyframes fadeInImage{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hiddenSynopsys{
    opacity: 0;
}

.visibleSynopsys{
    animation: fadeInSynopsys 1s linear;
}

@keyframes fadeInSynopsis{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* redimensioning */
@media (min-width: 481px) and (max-width: 767px) {
    #header {
        flex-direction: column;
        height: 150px;
        text-align: center;
    }

    #menu-list li a {
        margin-right: 38px;
    }

    .movie-info {
        flex-direction: column;
        margin-left: 0;
    }

    .movie-info p {
        margin: 6% 10% 10% 10%;
    }

    .movie-image {
        margin-left: auto;
        margin-right: auto;
    }

    #about {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #contact p{
        font-size: 18px;
    }

    #contact div {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .movie-info {
        flex-direction: column;
        margin-left: 0;
    }

    .movie-info p {
        margin: 6% 10% 10% 10%;
    }

    .movie-image {
        margin-left: auto;
        margin-right: auto;
    }

    #about {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #contact div {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) {
    /* Não necessita de alteração na versão atual */
}

@media (min-width: 1367px) and (max-width: 1440px) {
    /* Não necessita de alteração na versão atual */
}

/*
@media (min-width: 768px) and (max-width: 1024px) {

Médios: Telas entre 481px e 767px. //alterado

Retrato (Portrait): Telas entre 768px e 1024px.

Telas Pequenas: Telas entre 1281px e 1366px. 

Telas Médias: Telas entre 1367px e 1440px.
*/