/*
@media (min-width: 768px) and (max-width: 1024px) {

Médios: Telas entre 481px e 767px.

Retrato (Portrait): Telas entre 768px e 1024px.

Telas Pequenas: Telas entre 1281px e 1366px.

Telas Médias: Telas entre 1367px e 1440px.
*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --color-menu: rgb(214, 209, 209);
    --color-bg: rgb(22, 22, 22);
    --color-titles: #acacac;
    --color-images: rgb(40, 40, 40);
    --color-p: #cfcfcf;
    --font1: "Atkinson Hyperlegible Next", serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-bg);
}

#header {
    display: flex;
    /* background-color: rgb(50, 50, 50); */
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.name-site a {
    color: var(--color-p);
    font-family: var(--font1);
    padding: 8px;
    text-decoration: none;
}

#menu-list {
    display: flex;
    gap: 20px;
}

#menu-list li {
    list-style-type: none;
}

#menu-list li a {
    font-family: var(--font1);
    color: var(--color-menu);
    font-size: 20px;
    padding: 12px 12px;
    text-decoration: none;
}

#menu-list li a:hover {
    background-color: rgb(116, 111, 111);
}

h1,
h2,
h3 {
    color: var(--color-titles);
    font-family: var(--font1);
    text-align: center;
}

p {
    color: var(--color-p);
    font-family: var(--font1);
    text-align: left;
    font-size: 18px;
    line-height: 140%;
}

#about {
    padding: 1% 0 2% 0;
}

#about p {
    margin: 1% 10% 2% 10%;
}

article p {
    display: inline-block;
    margin: 0 10% 2% 10%;
}

article a {
    display: inline;
}

.more {
    font-family: var(--font1);
    font-size: 18px;
    font: bold;
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.more:hover {
    color: var(--color-titles);
}

#contact {
    background-color: var(--color-images);
    padding: 10px 0 10px 0;
}

#contact div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about h3,
#contact h3 {
    font-size: 20px;
}

hr {
    margin-left: 8%;
    margin-right: 8%;
}

.subtitle {
    font-size: 30px;
    text-align: center;
}

.movie-info {
    display: flex;
    justify-content: center;
}

.synopsis {
    margin: 1% 30% 2% 2%;
}

.movie-title {
    font-size: 40px;
}

.movie-image {
    display: flex;
    margin-left: 25%;
    width: 250px;
    height: 375px;
    border-radius: 3%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-images);
}

#main {
    display: grid;
    row-gap: 30px;
}

@media (max-width: 767px) {
    #header {
        flex-direction: column;
        height: 150px;
        text-align: center;
    }

    #menu-list li a {
        margin-right: 38px;
    }

    .movie-info {
        flex-direction: column;
    }

    .movie-info p {
        margin: 6% 10% 10% 10%;
    }

    .movie-image {
        margin-left: 22%;
    }

    #about {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #contact div {
        display: flex;
        flex-direction: column;
    }
}